<h3 class="text-center section-subtitle" id="subtitle">Greatroom</h3>

  <div class="col-md-12 home-bkg text-center">


    <div class="col-md-12 home-bkg text-center greatroom-leaderboard">{{greatroom-leaderboard}}</div>

    <div class="col-md-4 col-md-push-4 home-frontdoor">{{greatroom-bar}}</div>
    <div class="col-md-4 col-md-push-4 home-bulletin">{{greatroom-bookcase}}</div>
    <div class="col-md-4 col-md-pull-8 home-signpost">{{greatroom-trophies}}</div>

    <div class="col-md-12 home-bkg text-center greatroom-fireplace">{{greatroom-fireplace}}</div>


    {{outlet}}
  </div>
